body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 110, 112);
    color: black;
    line-height: 1.6;
    background-image: url('../images/pink-sky-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat; 
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

h1, h2 {
    color: rgb(81, 187, 190);
    text-align: center;
}

a {
    color: rgb(81, 187, 190);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(229, 45, 77);
}

.section-blocks {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 20px auto;
    padding: 40px;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #C11C84;
    box-sizing: border-box;
  }

#profile-picture, #about-me, #communication, #working-with-me, #hobbies, #cake-picture {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: calc(50% - 20px);
    padding: 20px 10px;
}

#past-experience, #socials {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

#socials {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

#socials img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

#profile-picture img:hover, #cake-picture img:hover, #socials img:hover {
    transform: scale(1.2);
}

#profile-picture img, #cake-picture img {
    width: 250px;
    border-radius: 50%;
    margin: 0 auto;

  }

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.title {
    list-style-type: none;
}

.description {
    margin-left: 20px;
}

nav {
    background-color: rgb(81, 187, 190);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    font-weight: bold;
    padding: 0px 30px;
}

nav a:hover {
    color: rgb(32, 75, 76);
}

footer {
    background-color: rgb(81, 187, 190);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .section-blocks {
      flex-direction: column;
    }
  
    .section-blocks section {
      width: 100% !important;
    }

    #profile-picture img, #cake-picture img {
        width: 150px;
      }

      nav {
        padding: 0;
        gap: 0;
    }

    nav a {
        padding: 5px;
    }

  }

